* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style: roboto;
}

/* Header CSS - Start*/

.header {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 180px;
    background-color: #1f2937;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header li {
    display: flex;
    gap: 18px;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
}

/* Header CSS - End */

/* Body CSS - Start */

.body-container {
    display: flex;
    flex-direction: column;
}

.hero-container {
    display: flex;
    width: 100%;
    height: 480px;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    width: 480px;    
}

    .hero-text h1 {
        margin-bottom: 24px;
        font-size: 48px;
        font-weight: bolder;
        color: #f9faf8;
    }

    .hero-text p {
        font-size: 18px;
        color: #e5e7eb;        
    }

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin: 18px;
    border: #e5e7eb solid 2px;
    border-radius: 2rem;
    width: 120px;
    height: 32px;
    align-items: center;
    
}

.hero-container img {
    max-width: 480px;
    max-height: 240px;
}

.info-container, .sub-container {
    padding: 70px 0px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title {
    font-size: 36px;
    margin-bottom: 32px;
    font-weight: bolder;
    color: #1f2937;
}

.info-display {
    display: flex;
    gap: 18px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-box {
    min-width: 180px;
    min-height: 180px;
    margin-bottom: 12px;
    border: 4px solid #3882f6;
    border-radius: 0.5rem;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.quotee {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.sub-container {
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box {
    display: flex;
    width: 800px;
    height: 180px;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
}

.sub-msg {
    color: #f9faf8;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    background-color: #3882f6;
    border: #f9faf8 solid 2px;
    border-radius: 2rem;
    width: 100px;
    height: 32px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

