* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.divider {
    height: 3rem;
    background-color: #621708;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 30%), inset 0 0.125em 0.5em rgb(0 0 0 / 45%);
}

/* Header CSS - Start*/

.header {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 180px;
    background-color: #000000;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header li {
    display: flex;
    gap: 18px;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
}

/* Header CSS - End */

/* Body CSS - Start */

.body-container {
    display: flex;
    flex-direction: column;
}

.hero-container {
    display: flex;
    width: 100%;
    height: 480px;
    background-color: #242424;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    width: 480px;    
}

    .hero-text h1 {
        margin-bottom: 24px;
        font-size: 48px;
        font-weight: bolder;
        color: #f9faf8;
    }

    .hero-text p {
        font-size: 18px;
        color: #e5e7eb;        
    }

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin: 18px;
    border: #e5e7eb solid 2px;
    border-radius: 2rem;
    width: 120px;
    height: 32px;
    align-items: center;
    
}

.hero-container img {
    padding: 16px;
    max-height: 100%;
    width: auto;
}

.info-container, .sub-container {
    padding: 70px 0px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
}

.info-title {
    font-size: 36px;
    margin-bottom: 32px;
    font-weight: bolder;
    color: #1f2937;
}

.info-display {
    display: flex;
    gap: 48px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-box {
    width: 180px;
    height: 180px;
    margin-bottom: 12px;
    border: 4px solid #ff0000;
    border-radius: 0.5rem;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    background-color: #dfdfdf;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.quotee {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.sub-container {
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-box {
    display: flex;
    width: 800px;
    height: 180px;
    background-color: #dfdfdf;
    justify-content: space-between;
    border: #621708 solid 2px;
    border-radius: 1rem;
    align-items: center;
}

.sub-msg {
    color:#242424;
    margin-left: 18px;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    background-color: #3882f6;
    border: #f9faf8 solid 2px;
    border-radius: 2rem;
    width: 100px;
    height: 32px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #000000;
    color: #e5e7eb;
    font-size: 18px;
}

